.my-bg {
    height: 100vh;
    background: url("../../assets/images/bg1.jpg");
    background-size: cover;
}

.popular-bg {
    height: auto;
    background: url("../../assets/images/bg2.jpg");
    background-size: cover;
}