* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.trending-card {
    height: auto;
    margin: 5px;
    padding: 3px;
}

.trending-img {
    height: 400px;
}

.trending-text {
    line-height: 6px;
    margin-top: 30px;
}